.container {
  text-align: center;
}
.formControl {
    width: 20%;
    margin-bottom: 10px !important;
    display: flex;
    text-align: center; 
    padding: 10px;
    text-align: center;
  }

@media screen and (max-width:700px){
  .formControl{
    width: 25%;
  }
}