.container {
    text-align: center;
    display:flex;
    margin-left:39.5%;
  }
  .formControl {
      text-align: center; 
      padding: 10px;
      text-align: center;
      overflow:auto;
    }
  
  @media screen and (max-width:700px){
    .formControl{
      width: 25%;
      overflow:auto;
    }

    .container { 
        margin-left: 20%;
    }
  }