
 .container {
   
   flex-direction: column; 
   height:100%;
} 

/* .image {
  width: 370px;
  margin: auto;
}

.navdiv {
  display: flex;
} */

.bubbles {
  position: fixed !important;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 0%;
  }

  /* .image {
    
    width: 100%;
  }
  .navdiv {
    width: fit-content;
  
  } */
}
